p {
    text-align: center;
}

button {
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 10px 0px rgba(66, 68, 90, 1);
}

button:hover {
    background-color: whitesmoke;
}

.card {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px 0px rgba(66, 68, 90, 1);
}